body{
    background-image: url('/static/blog/images/postbg2.jpg');
}

.form-bg{
    color: black ;

    text-align: center;
   

    padding: 30px;

    border:10px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    /* margin-top: 80px; */

    background-color: rgba(135, 158, 189, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.25);


}

.content-form{
    height: 60px;
}

.post-text{

    text-align: center;
    width: 240px;
    margin: auto;
    padding: 15px;
    color: black;
    background-color: rgba(106, 136, 175, 0.8); 
    border-radius: 10px;


}

