body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.post-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.post-header {
    background-color: #2d82c9;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.post-content {
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.hello{
    background-color: red;
}